<!DOCTYPE html>
<html lang="" xml:lang="">
  <head>
    <title>A Python Flipbook</title>
    <meta charset="utf-8" />
    <meta name="author" content="Gina Reynolds, March 2020" />
    <link href="libs/remark-css-0.0.1/default.css" rel="stylesheet" />
    <link href="libs/remark-css-0.0.1/hygge.css" rel="stylesheet" />
    <link href="libs/remark-css-0.0.1/ninjutsu.css" rel="stylesheet" />
  </head>
  <body>
    <textarea id="source">
class: center, middle, inverse, title-slide

# A Python Flipbook
## With {flipbookr} and xaringan
### Gina Reynolds, March 2020

---



This is pretty experimental work.  The python "parser" (basically no parsing) means there are strong constraints on code.  Each new line must yield complete code statement...  





&lt;!-- This next chunk is just for the developer -- working w/ local code --&gt;




---

count: false
 

.panel1-hello_python-auto[

```python
*[1, 4] * 8
```
]
 
.panel2-hello_python-auto[

```
[1, 4, 1, 4, 1, 4, 1, 4, 1, 4, 1, 4, 1, 4, 1, 4]
```
]

---
count: false
 

.panel1-hello_python-auto[

```python
[1, 4] * 8

*3 + 4 * 8
```
]
 
.panel2-hello_python-auto[

```
[1, 4, 1, 4, 1, 4, 1, 4, 1, 4, 1, 4, 1, 4, 1, 4]
```

```
35
```
]

---
count: false
 

.panel1-hello_python-auto[

```python
[1, 4] * 8

3 + 4 * 8

*2 + 6
```
]
 
.panel2-hello_python-auto[

```
[1, 4, 1, 4, 1, 4, 1, 4, 1, 4, 1, 4, 1, 4, 1, 4]
```

```
35
```

```
8
```
]

---
count: false
 

.panel1-hello_python-auto[

```python
[1, 4] * 8

3 + 4 * 8

2 + 6

*4 * 8
```
]
 
.panel2-hello_python-auto[

```
[1, 4, 1, 4, 1, 4, 1, 4, 1, 4, 1, 4, 1, 4, 1, 4]
```

```
35
```

```
8
```

```
32
```
]

---
count: false
 

.panel1-hello_python-auto[

```python
[1, 4] * 8

3 + 4 * 8

2 + 6

4 * 8

*[1,2] + [3,4,5,6]
```
]
 
.panel2-hello_python-auto[

```
[1, 4, 1, 4, 1, 4, 1, 4, 1, 4, 1, 4, 1, 4, 1, 4]
```

```
35
```

```
8
```

```
32
```

```
[1, 2, 3, 4, 5, 6]
```
]

---
count: false
 

.panel1-hello_python-auto[

```python
[1, 4] * 8

3 + 4 * 8

2 + 6

4 * 8

[1,2] + [3,4,5,6]

*["hello", "world!", 1, 2, 3] * 2
```
]
 
.panel2-hello_python-auto[

```
[1, 4, 1, 4, 1, 4, 1, 4, 1, 4, 1, 4, 1, 4, 1, 4]
```

```
35
```

```
8
```

```
32
```

```
[1, 2, 3, 4, 5, 6]
```

```
['hello', 'world!', 1, 2, 3, 'hello', 'world!', 1, 2, 3]
```
]

---
count: false
 

.panel1-hello_python-auto[

```python
[1, 4] * 8

3 + 4 * 8

2 + 6

4 * 8

[1,2] + [3,4,5,6]

["hello", "world!", 1, 2, 3] * 2

*import numpy as np
```
]
 
.panel2-hello_python-auto[

```
[1, 4, 1, 4, 1, 4, 1, 4, 1, 4, 1, 4, 1, 4, 1, 4]
```

```
35
```

```
8
```

```
32
```

```
[1, 2, 3, 4, 5, 6]
```

```
['hello', 'world!', 1, 2, 3, 'hello', 'world!', 1, 2, 3]
```
]

---
count: false
 

.panel1-hello_python-auto[

```python
[1, 4] * 8

3 + 4 * 8

2 + 6

4 * 8

[1,2] + [3,4,5,6]

["hello", "world!", 1, 2, 3] * 2

import numpy as np

*np.reshape(np.arange(1,25),
*   (4,3,2), "F")
```
]
 
.panel2-hello_python-auto[

```
[1, 4, 1, 4, 1, 4, 1, 4, 1, 4, 1, 4, 1, 4, 1, 4]
```

```
35
```

```
8
```

```
32
```

```
[1, 2, 3, 4, 5, 6]
```

```
['hello', 'world!', 1, 2, 3, 'hello', 'world!', 1, 2, 3]
```

```
array([[[ 1, 13],
        [ 5, 17],
        [ 9, 21]],

       [[ 2, 14],
        [ 6, 18],
        [10, 22]],

       [[ 3, 15],
        [ 7, 19],
        [11, 23]],

       [[ 4, 16],
        [ 8, 20],
        [12, 24]]])
```
]

&lt;style&gt;
.panel1-hello_python-auto {
  color: black;
  width: 38.6060606060606%;
  hight: 32%;
  float: left;
  padding-left: 1%;
  font-size: 80%
}
.panel2-hello_python-auto {
  color: black;
  width: 59.3939393939394%;
  hight: 32%;
  float: left;
  padding-left: 1%;
  font-size: 80%
}
.panel3-hello_python-auto {
  color: black;
  width: NA%;
  hight: 33%;
  float: left;
  padding-left: 1%;
  font-size: 80%
}
&lt;/style&gt;






---

count: false
 

.panel1-simple_plot-auto[

```python
*import matplotlib.pyplot as plt
```
]
 
.panel2-simple_plot-auto[

]

---
count: false
 

.panel1-simple_plot-auto[

```python
import matplotlib.pyplot as plt
*year = [1950, 1970,
* 1990, 2010]
```
]
 
.panel2-simple_plot-auto[

]

---
count: false
 

.panel1-simple_plot-auto[

```python
import matplotlib.pyplot as plt
year = [1950, 1970,
  1990, 2010]
*pop = [2.519, 3, 5, 6]
```
]
 
.panel2-simple_plot-auto[

]

---
count: false
 

.panel1-simple_plot-auto[

```python
import matplotlib.pyplot as plt
year = [1950, 1970,
  1990, 2010]
pop = [2.519, 3, 5, 6]
*plt.plot(year, pop); plt.show()
```
]
 
.panel2-simple_plot-auto[
![](skeleton_files/figure-html/simple_plot_auto_04_output-1.svg)&lt;!-- --&gt;![](skeleton_files/figure-html/simple_plot_auto_04_output-2.svg)&lt;!-- --&gt;
]

&lt;style&gt;
.panel1-simple_plot-auto {
  color: black;
  width: 58.4040404040404%;
  hight: 32%;
  float: left;
  padding-left: 1%;
  font-size: 80%
}
.panel2-simple_plot-auto {
  color: black;
  width: 39.5959595959596%;
  hight: 32%;
  float: left;
  padding-left: 1%;
  font-size: 80%
}
.panel3-simple_plot-auto {
  color: black;
  width: NA%;
  hight: 33%;
  float: left;
  padding-left: 1%;
  font-size: 80%
}
&lt;/style&gt;









---

count: false
 

.panel1-numpy-auto[

```python
*# import pandas as pd
```
]
 
.panel2-numpy-auto[

]

---
count: false
 

.panel1-numpy-auto[

```python
# import pandas as pd
*import matplotlib.pyplot as plt
```
]
 
.panel2-numpy-auto[

]

---
count: false
 

.panel1-numpy-auto[

```python
# import pandas as pd
import matplotlib.pyplot as plt
*import numpy as np
```
]
 
.panel2-numpy-auto[

]

---
count: false
 

.panel1-numpy-auto[

```python
# import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
*t = np.arange(0, 2, .05)
```
]
 
.panel2-numpy-auto[

]

---
count: false
 

.panel1-numpy-auto[

```python
# import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
t = np.arange(0, 2, .05)
*t 
```
]
 
.panel2-numpy-auto[

```
array([0.  , 0.05, 0.1 , 0.15, 0.2 , 0.25, 0.3 , 0.35, 0.4 , 0.45, 0.5 ,
       0.55, 0.6 , 0.65, 0.7 , 0.75, 0.8 , 0.85, 0.9 , 0.95, 1.  , 1.05,
       1.1 , 1.15, 1.2 , 1.25, 1.3 , 1.35, 1.4 , 1.45, 1.5 , 1.55, 1.6 ,
       1.65, 1.7 , 1.75, 1.8 , 1.85, 1.9 , 1.95])
```
]

---
count: false
 

.panel1-numpy-auto[

```python
# import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
t = np.arange(0, 2, .05)
t
*s = np.sin(2*np.pi*t)
```
]
 
.panel2-numpy-auto[

```
array([0.  , 0.05, 0.1 , 0.15, 0.2 , 0.25, 0.3 , 0.35, 0.4 , 0.45, 0.5 ,
       0.55, 0.6 , 0.65, 0.7 , 0.75, 0.8 , 0.85, 0.9 , 0.95, 1.  , 1.05,
       1.1 , 1.15, 1.2 , 1.25, 1.3 , 1.35, 1.4 , 1.45, 1.5 , 1.55, 1.6 ,
       1.65, 1.7 , 1.75, 1.8 , 1.85, 1.9 , 1.95])
```
]

---
count: false
 

.panel1-numpy-auto[

```python
# import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
t = np.arange(0, 2, .05)
t
s = np.sin(2*np.pi*t)
*s 
```
]
 
.panel2-numpy-auto[

```
array([0.  , 0.05, 0.1 , 0.15, 0.2 , 0.25, 0.3 , 0.35, 0.4 , 0.45, 0.5 ,
       0.55, 0.6 , 0.65, 0.7 , 0.75, 0.8 , 0.85, 0.9 , 0.95, 1.  , 1.05,
       1.1 , 1.15, 1.2 , 1.25, 1.3 , 1.35, 1.4 , 1.45, 1.5 , 1.55, 1.6 ,
       1.65, 1.7 , 1.75, 1.8 , 1.85, 1.9 , 1.95])
```

```
array([ 0.00000000e+00,  3.09016994e-01,  5.87785252e-01,  8.09016994e-01,
        9.51056516e-01,  1.00000000e+00,  9.51056516e-01,  8.09016994e-01,
        5.87785252e-01,  3.09016994e-01,  1.22464680e-16, -3.09016994e-01,
       -5.87785252e-01, -8.09016994e-01, -9.51056516e-01, -1.00000000e+00,
       -9.51056516e-01, -8.09016994e-01, -5.87785252e-01, -3.09016994e-01,
       -2.44929360e-16,  3.09016994e-01,  5.87785252e-01,  8.09016994e-01,
        9.51056516e-01,  1.00000000e+00,  9.51056516e-01,  8.09016994e-01,
        5.87785252e-01,  3.09016994e-01,  3.67394040e-16, -3.09016994e-01,
       -5.87785252e-01, -8.09016994e-01, -9.51056516e-01, -1.00000000e+00,
       -9.51056516e-01, -8.09016994e-01, -5.87785252e-01, -3.09016994e-01])
```
]

&lt;style&gt;
.panel1-numpy-auto {
  color: black;
  width: 38.6060606060606%;
  hight: 32%;
  float: left;
  padding-left: 1%;
  font-size: 80%
}
.panel2-numpy-auto {
  color: black;
  width: 59.3939393939394%;
  hight: 32%;
  float: left;
  padding-left: 1%;
  font-size: 80%
}
.panel3-numpy-auto {
  color: black;
  width: NA%;
  hight: 33%;
  float: left;
  padding-left: 1%;
  font-size: 80%
}
&lt;/style&gt;







---

count: false
 

.panel1-numpy2-auto[

```python
*plt.plot(t, s)
```
]
 
.panel2-numpy2-auto[
![](skeleton_files/figure-html/numpy2_auto_01_output-1.svg)&lt;!-- --&gt;
]

---
count: false
 

.panel1-numpy2-auto[

```python
plt.plot(t, s)
*plt.xlabel('time (s)')
```
]
 
.panel2-numpy2-auto[
![](skeleton_files/figure-html/numpy2_auto_02_output-1.svg)&lt;!-- --&gt;
]

---
count: false
 

.panel1-numpy2-auto[

```python
plt.plot(t, s)
plt.xlabel('time (s)')
*plt.ylabel('voltage (mV)')
```
]
 
.panel2-numpy2-auto[
![](skeleton_files/figure-html/numpy2_auto_03_output-1.svg)&lt;!-- --&gt;
]

---
count: false
 

.panel1-numpy2-auto[

```python
plt.plot(t, s)
plt.xlabel('time (s)')
plt.ylabel('voltage (mV)')
*plt.grid(True); plt.show()
```
]
 
.panel2-numpy2-auto[
![](skeleton_files/figure-html/numpy2_auto_04_output-1.svg)&lt;!-- --&gt;
]

&lt;style&gt;
.panel1-numpy2-auto {
  color: black;
  width: 38.6060606060606%;
  hight: 32%;
  float: left;
  padding-left: 1%;
  font-size: 80%
}
.panel2-numpy2-auto {
  color: black;
  width: 59.3939393939394%;
  hight: 32%;
  float: left;
  padding-left: 1%;
  font-size: 80%
}
.panel3-numpy2-auto {
  color: black;
  width: NA%;
  hight: 33%;
  float: left;
  padding-left: 1%;
  font-size: 80%
}
&lt;/style&gt;







---

Credit to matplotlib.org for this example!

---


count: false
 

.panel1-prep-1[

```python
import numpy as np
import pandas as pd

student_scores = pd.DataFrame(
{"student": ["Andy", "Bernie", "Cindy", "Deb"],
"sex": ["M", "M", "F", "F"],
"english": [98, 95, 70, 40], # eng grades
"math": [66, 89, 60, 70], # math grades
"physics": [78, 90, 92, 88] # physics grades
})

student_scores
```
]
 
.panel2-prep-1[

```
   english  math  physics sex student
0       98    66       78   M    Andy
1       95    89       90   M  Bernie
2       70    60       92   F   Cindy
3       40    70       88   F     Deb
```
]

&lt;style&gt;
.panel1-prep-1 {
  color: black;
  width: 38.6060606060606%;
  hight: 32%;
  float: left;
  padding-left: 1%;
  font-size: 80%
}
.panel2-prep-1 {
  color: black;
  width: 59.3939393939394%;
  hight: 32%;
  float: left;
  padding-left: 1%;
  font-size: 80%
}
.panel3-prep-1 {
  color: black;
  width: NA%;
  hight: 33%;
  float: left;
  padding-left: 1%;
  font-size: 80%
}
&lt;/style&gt;






---

## Now lets find the highest three grades among all of these grades.  This is done by reshaping the data, sorting it decending order, and selecting the top three rows. 

---

count: false
 

.panel1-bam-auto[

```python
*student_scores
```
]
 
.panel2-bam-auto[

```
   english  math  physics sex student
0       98    66       78   M    Andy
1       95    89       90   M  Bernie
2       70    60       92   F   Cindy
3       40    70       88   F     Deb
```
]

---
count: false
 

.panel1-bam-auto[

```python
student_scores \
* .melt(id_vars=['student', "sex"],
*       var_name="subject",
*       value_name="final_grade")
```
]
 
.panel2-bam-auto[

```
   student sex  subject  final_grade
0     Andy   M  english           98
1   Bernie   M  english           95
2    Cindy   F  english           70
3      Deb   F  english           40
4     Andy   M     math           66
5   Bernie   M     math           89
6    Cindy   F     math           60
7      Deb   F     math           70
8     Andy   M  physics           78
9   Bernie   M  physics           90
10   Cindy   F  physics           92
11     Deb   F  physics           88
```
]

---
count: false
 

.panel1-bam-auto[

```python
student_scores \
  .melt(id_vars=['student', "sex"],
        var_name="subject",
        value_name="final_grade") \
* .sort_values(by=['final_grade'], ascending=False)
```
]
 
.panel2-bam-auto[

```
   student sex  subject  final_grade
0     Andy   M  english           98
1   Bernie   M  english           95
10   Cindy   F  physics           92
9   Bernie   M  physics           90
5   Bernie   M     math           89
11     Deb   F  physics           88
8     Andy   M  physics           78
2    Cindy   F  english           70
7      Deb   F     math           70
4     Andy   M     math           66
6    Cindy   F     math           60
3      Deb   F  english           40
```
]

---
count: false
 

.panel1-bam-auto[

```python
student_scores \
  .melt(id_vars=['student', "sex"],
        var_name="subject",
        value_name="final_grade") \
  .sort_values(by=['final_grade'], ascending=False) \
* .head(3)
```
]
 
.panel2-bam-auto[

```
   student sex  subject  final_grade
0     Andy   M  english           98
1   Bernie   M  english           95
10   Cindy   F  physics           92
```
]

&lt;style&gt;
.panel1-bam-auto {
  color: black;
  width: 49%;
  hight: 32%;
  float: left;
  padding-left: 1%;
  font-size: 80%
}
.panel2-bam-auto {
  color: black;
  width: 49%;
  hight: 32%;
  float: left;
  padding-left: 1%;
  font-size: 80%
}
.panel3-bam-auto {
  color: black;
  width: NA%;
  hight: 33%;
  float: left;
  padding-left: 1%;
  font-size: 80%
}
&lt;/style&gt;






---

This example Suraj Thapa for sketching out ideas for this example!









&lt;style type="text/css"&gt;
.remark-code{line-height: 1.5; font-size: 80%}

@media print {
  .has-continuation {
    display: block;
  }
}
&lt;/style&gt;
    </textarea>
<style data-target="print-only">@media screen {.remark-slide-container{display:block;}.remark-slide-scaler{box-shadow:none;}}</style>
<script src="https://remarkjs.com/downloads/remark-latest.min.js"></script>
<script>var slideshow = remark.create({
"ratio": "16:10",
"highlightStyle": "github",
"highlightLines": true,
"countIncrementalSlides": false
});
if (window.HTMLWidgets) slideshow.on('afterShowSlide', function (slide) {
  window.dispatchEvent(new Event('resize'));
});
(function(d) {
  var s = d.createElement("style"), r = d.querySelector(".remark-slide-scaler");
  if (!r) return;
  s.type = "text/css"; s.innerHTML = "@page {size: " + r.style.width + " " + r.style.height +"; }";
  d.head.appendChild(s);
})(document);

(function(d) {
  var el = d.getElementsByClassName("remark-slides-area");
  if (!el) return;
  var slide, slides = slideshow.getSlides(), els = el[0].children;
  for (var i = 1; i < slides.length; i++) {
    slide = slides[i];
    if (slide.properties.continued === "true" || slide.properties.count === "false") {
      els[i - 1].className += ' has-continuation';
    }
  }
  var s = d.createElement("style");
  s.type = "text/css"; s.innerHTML = "@media print { .has-continuation { display: none; } }";
  d.head.appendChild(s);
})(document);
// delete the temporary CSS (for displaying all slides initially) when the user
// starts to view slides
(function() {
  var deleted = false;
  slideshow.on('beforeShowSlide', function(slide) {
    if (deleted) return;
    var sheets = document.styleSheets, node;
    for (var i = 0; i < sheets.length; i++) {
      node = sheets[i].ownerNode;
      if (node.dataset["target"] !== "print-only") continue;
      node.parentNode.removeChild(node);
    }
    deleted = true;
  });
})();
(function() {
  "use strict"
  // Replace <script> tags in slides area to make them executable
  var scripts = document.querySelectorAll(
    '.remark-slides-area .remark-slide-container script'
  );
  if (!scripts.length) return;
  for (var i = 0; i < scripts.length; i++) {
    var s = document.createElement('script');
    var code = document.createTextNode(scripts[i].textContent);
    s.appendChild(code);
    var scriptAttrs = scripts[i].attributes;
    for (var j = 0; j < scriptAttrs.length; j++) {
      s.setAttribute(scriptAttrs[j].name, scriptAttrs[j].value);
    }
    scripts[i].parentElement.replaceChild(s, scripts[i]);
  }
})();
(function() {
  var links = document.getElementsByTagName('a');
  for (var i = 0; i < links.length; i++) {
    if (/^(https?:)?\/\//.test(links[i].getAttribute('href'))) {
      links[i].target = '_blank';
    }
  }
})();
// adds .remark-code-has-line-highlighted class to <pre> parent elements
// of code chunks containing highlighted lines with class .remark-code-line-highlighted
(function(d) {
  const hlines = d.querySelectorAll('.remark-code-line-highlighted');
  const preParents = [];
  const findPreParent = function(line, p = 0) {
    if (p > 1) return null; // traverse up no further than grandparent
    const el = line.parentElement;
    return el.tagName === "PRE" ? el : findPreParent(el, ++p);
  };

  for (let line of hlines) {
    let pre = findPreParent(line);
    if (pre && !preParents.includes(pre)) preParents.push(pre);
  }
  preParents.forEach(p => p.classList.add("remark-code-has-line-highlighted"));
})(document);</script>

<script>
slideshow._releaseMath = function(el) {
  var i, text, code, codes = el.getElementsByTagName('code');
  for (i = 0; i < codes.length;) {
    code = codes[i];
    if (code.parentNode.tagName !== 'PRE' && code.childElementCount === 0) {
      text = code.textContent;
      if (/^\\\((.|\s)+\\\)$/.test(text) || /^\\\[(.|\s)+\\\]$/.test(text) ||
          /^\$\$(.|\s)+\$\$$/.test(text) ||
          /^\\begin\{([^}]+)\}(.|\s)+\\end\{[^}]+\}$/.test(text)) {
        code.outerHTML = code.innerHTML;  // remove <code></code>
        continue;
      }
    }
    i++;
  }
};
slideshow._releaseMath(document);
</script>
<!-- dynamically load mathjax for compatibility with self-contained -->
<script>
(function () {
  var script = document.createElement('script');
  script.type = 'text/javascript';
  script.src  = 'https://mathjax.rstudio.com/latest/MathJax.js?config=TeX-MML-AM_CHTML';
  if (location.protocol !== 'file:' && /^https?:/.test(script.src))
    script.src  = script.src.replace(/^https?:/, '');
  document.getElementsByTagName('head')[0].appendChild(script);
})();
</script>
  </body>
</html>
