<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
  <head>
    <title>Flipbooks</title>
    <meta charset="utf-8" />
    <meta name="author" content="Gina Reynolds, November 2019" />
    <link href="libs/remark-css-0.0.1/kunoichi.css" rel="stylesheet" />
    <link href="libs/remark-css-0.0.1/ninjutsu.css" rel="stylesheet" />
  </head>
  <body>
    <textarea id="source">
class: center, middle, inverse, title-slide

# Flipbooks
### Gina Reynolds, November 2019

---






&lt;!-- # What are Flipbooks? --&gt;
&lt;!-- # Show an one example - ggplot2 flipbook --&gt;
&lt;!-- # What are their advantages (Don Norman, the Design of Everyday Things) --&gt;
&lt;!--  - natural mapping (matching code-output temporal changes) --&gt;
&lt;!--  - affordances (ease of use - motion detection, name, automatic parsing - low additional burden on creator) --&gt;
&lt;!--  - feedback (minimal changes mean that feedback is digestible) --&gt;
&lt;!-- # How is it implemented? --&gt;
&lt;!--   # automation... (technical side) --&gt;
&lt;!--   # And how YOU can make one ... --&gt;
&lt;!-- # Extending the basic --&gt;
&lt;!--   ## adding connectors, allowing code wrapping, using a parser (making it safe for human consumption) --&gt;
&lt;!--   ## using %&gt;% .[] - data.table --&gt;
&lt;!--   ## Regular Assignment --&gt;
&lt;!--   ## Non sequential reveal (not yet implemented) --&gt;
&lt;!--   ## Traditional presentations --&gt;
&lt;!--   ## Ensembles (not yet stable) --&gt;
&lt;!--   ## python, C++ (not yet implemented) --&gt;
&lt;!--   ## Visual Table of contents - "You do not need a slide for the Table of Contents!" --&gt;
&lt;!--   ## Flipbook mini (not yet final) --&gt;
&lt;!-- # resources --&gt;
&lt;!--   ## package --&gt;
&lt;!--   ## flipbooks library (my uses) --&gt;
&lt;!--   ## minimal examples --&gt;
&lt;!--   ## video? --&gt;
&lt;!-- # caveats --&gt;
&lt;!--   # irreproducibility across platforms (fonts) --&gt;
&lt;!--   # output not supported by remark.js, not going to work --&gt;
&lt;!--   # may load slow (or not at all - leaflet) --&gt;
&lt;!-- # future...??? --&gt;

---

# Introduction

This is a minimal example to demonstrate how to create a flipbook with data from #TidyTuesday.  It walks through data wrangling and plots pipelines made with the Tidyverse.  The functions that make this possible are the work of Emi Tanaka, Garrick Aden-Buie and myself, and are built for Xaringan, an Rmarkdown file type for creating presentation slides; the functions make use of the function `knitr:::knit_code$get()`.

The code to create the flipbook is an .Rmd that you can download [**here**](https://raw.githubusercontent.com/EvaMaeRey/little_flipbooks_library/master/tidytuesday_minimal_example/tidytuesday_minimal_example.Rmd).

---

Interested in more flipbooks? Check out 

- [the ggplot flipbook](https://evamaerey.github.io/ggplot_flipbook/ggplot_flipbook_xaringan.html)
- [The Tidyverse in Action](https://evamaerey.github.io/tidyverse_in_action/tidyverse_in_action.html)
- [the ggplot2 grammar guide](https://evamaerey.github.io/ggplot2_grammar_guide/ggplot2_grammar_guide)

and 

- [the little flipbooks libraray](https://raw.githubusercontent.com/EvaMaeRey/little_flipbooks_library)


For more about Xaringan:

- [Xaringan presentation slides](https://slides.yihui.name/xaringan/)

The sequential workflow of the Tidyverse makes incremental display of pipelines and ggplot statements ideal:  

- [www.tidyverse.org](https://www.tidyverse.org/)


---


# What's the slow ggplot style?

"Slow ggplot" just means working more incrementally than is typical. Elements of the approach are as follows:

- pulling out aes() from the ggplot() function:  
- using fewer functions; example - using labs() to add a title instead of ggtitle()
- using functions multiple times; example aes(x = var1) + aes(y = var2) rather than aes(x = var1, y = var2)
- using base R functions and tidyverse functions.  For other packages, the :: style to call them
- write out arguments (no shortcuts)  aes(x = gdppercap) not aes(gdppercap)
- order ggplot commands so that reactivity is obvious; scale adjustments to aesthetics might also be near the aesthetic declaration. 






---

Here, I contrast the usual plotting method to slow ggplotting:

Usual approach:


```r
ggplot(my_data, aes(var1, y = var2, col = var3)) +
  geom_point() +
  ggtitle("My Title") +
  labs(x = "the x label", y = "the y label", col = "legend title")
```

Using slow ggplotting: 


```r
ggplot(data = my_data) +
  aes(x = var1) +
  aes(y = var2) +
  geom_point() +
  aes(col = var3) +
  labs(y = "the y label") +
  labs(x = "the x label") +
  labs(col = "legend title") +
  labs(title = "My title")
```


# You may have seen the ggplot flipbook


# We've come along way

- adding pipe and other connections
- allowed code wrapping - responsible piping


---

# Set up

Okay. Let's load the the `flipbookr` and the `tidyverse` packages.


```r
# library(flipbookr)
library(tidyverse)
```

And load the data from the tidytuesday github page. 


```r
# nobel_winners &lt;- readr::read_csv("https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2019/2019-05-14/nobel_winners.csv")
# source("../../../../../R/flipbook_mini.R")
source("../../../../../R/base_parse_reveal_xaringan.R")
# source("../../../../../R/non_sequential_reveal.R")
```


---

# flipbookr::apply_reveal()


``` 
r apply_reveal(chunk_name = 'cars', break_type = "auto")`
r apply_reveal(chunk_name = 'cars', break_type = "user")`
r apply_reveal(chunk_name = 'cars', break_type = "non_seq")`
r apply_reveal(chunk_name = 'cars', break_type = 5)`
```

---

# Where we are going: 

We'll create this plot.  I have **echo** set to FALSE in the code chunk options here so that you don't see the code, and **eval** to TRUE so that the plot output is produced.  The code chunk is given the name 'cars', and this is used in the in apply_reveal function, which breaks down code by wrangling and plot statements. 

---

# Auto

---

class: split-40
count: false

.column[.content[

```r
*cars   # the data
```
]]
.column[.content[

```
   speed dist
1      4    2
2      4   10
3      7    4
4      7   22
5      8   16
6      9   10
7     10   18
8     10   26
9     10   34
10    11   17
11    11   28
12    12   14
13    12   20
14    12   24
15    12   28
16    13   26
17    13   34
18    13   34
19    13   46
20    14   26
21    14   36
22    14   60
23    14   80
24    15   20
25    15   26
26    15   54
27    16   32
28    16   40
29    17   32
30    17   40
31    17   50
32    18   42
33    18   56
34    18   76
35    18   84
36    19   36
37    19   46
38    19   68
39    20   32
40    20   48
41    20   52
42    20   56
43    20   64
44    22   66
45    23   54
46    24   70
47    24   92
48    24   93
49    24  120
50    25   85
```
]]
---
class: split-40
count: false

.column[.content[

```r
cars %&gt;%  # the data
* filter(speed &gt; 4)   # subset
```
]]
.column[.content[

```
   speed dist
1      7    4
2      7   22
3      8   16
4      9   10
5     10   18
6     10   26
7     10   34
8     11   17
9     11   28
10    12   14
11    12   20
12    12   24
13    12   28
14    13   26
15    13   34
16    13   34
17    13   46
18    14   26
19    14   36
20    14   60
21    14   80
22    15   20
23    15   26
24    15   54
25    16   32
26    16   40
27    17   32
28    17   40
29    17   50
30    18   42
31    18   56
32    18   76
33    18   84
34    19   36
35    19   46
36    19   68
37    20   32
38    20   48
39    20   52
40    20   56
41    20   64
42    22   66
43    23   54
44    24   70
45    24   92
46    24   93
47    24  120
48    25   85
```
]]
---
class: split-40
count: false

.column[.content[

```r
cars %&gt;%  # the data
  filter(speed &gt; 4) %&gt;%  # subset
* ggplot()   # pipe to ggplot
```
]]
.column[.content[
![](skeleton_files/figure-html/output_cars_auto_3_auto-1.png)&lt;!-- --&gt;
]]
---
class: split-40
count: false

.column[.content[

```r
cars %&gt;%  # the data
  filter(speed &gt; 4) %&gt;%  # subset
  ggplot() +  # pipe to ggplot
* aes(x = speed)
```
]]
.column[.content[
![](skeleton_files/figure-html/output_cars_auto_4_auto-1.png)&lt;!-- --&gt;
]]
---
class: split-40
count: false

.column[.content[

```r
cars %&gt;%  # the data
  filter(speed &gt; 4) %&gt;%  # subset
  ggplot() +  # pipe to ggplot
  aes(x = speed) +  
* aes(y = dist)
```
]]
.column[.content[
![](skeleton_files/figure-html/output_cars_auto_5_auto-1.png)&lt;!-- --&gt;
]]
---
class: split-40
count: false

.column[.content[

```r
cars %&gt;%  # the data
  filter(speed &gt; 4) %&gt;%  # subset
  ggplot() +  # pipe to ggplot
  aes(x = speed) +  
  aes(y = dist) +  
* # Describing what follows
* geom_point(
*   alpha = .3,
*   color = "blue"
*   )
```
]]
.column[.content[
![](skeleton_files/figure-html/output_cars_auto_6_auto-1.png)&lt;!-- --&gt;
]]
---
class: split-40
count: false

.column[.content[

```r
cars %&gt;%  # the data
  filter(speed &gt; 4) %&gt;%  # subset
  ggplot() +  # pipe to ggplot
  aes(x = speed) +  
  aes(y = dist) +  
  # Describing what follows
  geom_point(  
    alpha = .3,  
    color = "blue"  
    ) +  
* aes(size = speed)
```
]]
.column[.content[
![](skeleton_files/figure-html/output_cars_auto_7_auto-1.png)&lt;!-- --&gt;
]]

---

class: split-40
count: false

.column[.content[

```r
*cars   # the data
```
]]
.column[.content[

```
   speed dist
1      4    2
2      4   10
3      7    4
4      7   22
5      8   16
6      9   10
7     10   18
8     10   26
9     10   34
10    11   17
11    11   28
12    12   14
13    12   20
14    12   24
15    12   28
16    13   26
17    13   34
18    13   34
19    13   46
20    14   26
21    14   36
22    14   60
23    14   80
24    15   20
25    15   26
26    15   54
27    16   32
28    16   40
29    17   32
30    17   40
31    17   50
32    18   42
33    18   56
34    18   76
35    18   84
36    19   36
37    19   46
38    19   68
39    20   32
40    20   48
41    20   52
42    20   56
43    20   64
44    22   66
45    23   54
46    24   70
47    24   92
48    24   93
49    24  120
50    25   85
```
]]
---
class: split-40
count: false

.column[.content[

```r
cars %&gt;%  # the data
* filter(speed &gt; 4)   # subset
```
]]
.column[.content[

```
   speed dist
1      7    4
2      7   22
3      8   16
4      9   10
5     10   18
6     10   26
7     10   34
8     11   17
9     11   28
10    12   14
11    12   20
12    12   24
13    12   28
14    13   26
15    13   34
16    13   34
17    13   46
18    14   26
19    14   36
20    14   60
21    14   80
22    15   20
23    15   26
24    15   54
25    16   32
26    16   40
27    17   32
28    17   40
29    17   50
30    18   42
31    18   56
32    18   76
33    18   84
34    19   36
35    19   46
36    19   68
37    20   32
38    20   48
39    20   52
40    20   56
41    20   64
42    22   66
43    23   54
44    24   70
45    24   92
46    24   93
47    24  120
48    25   85
```
]]
---
class: split-40
count: false

.column[.content[

```r
cars %&gt;%  # the data
  filter(speed &gt; 4) %&gt;%  # subset
* ggplot()   # pipe to ggplot
```
]]
.column[.content[
![](skeleton_files/figure-html/output_cars_user_3_auto-1.png)&lt;!-- --&gt;
]]
---
class: split-40
count: false

.column[.content[

```r
cars %&gt;%  # the data
  filter(speed &gt; 4) %&gt;%  # subset
  ggplot() +  # pipe to ggplot
* aes(x = speed)
```
]]
.column[.content[
![](skeleton_files/figure-html/output_cars_user_4_auto-1.png)&lt;!-- --&gt;
]]
---
class: split-40
count: false

.column[.content[

```r
cars %&gt;%  # the data
  filter(speed &gt; 4) %&gt;%  # subset
  ggplot() +  # pipe to ggplot
  aes(x = speed) +  
* aes(y = dist)
```
]]
.column[.content[
![](skeleton_files/figure-html/output_cars_user_5_auto-1.png)&lt;!-- --&gt;
]]
---
class: split-40
count: false

.column[.content[

```r
cars %&gt;%  # the data
  filter(speed &gt; 4) %&gt;%  # subset
  ggplot() +  # pipe to ggplot
  aes(x = speed) +  
  aes(y = dist) +  
* # Describing what follows
* geom_point(
*   alpha = .3,
*   color = "blue"
*   )
```
]]
.column[.content[
![](skeleton_files/figure-html/output_cars_user_6_auto-1.png)&lt;!-- --&gt;
]]
---
class: split-40
count: false

.column[.content[

```r
cars %&gt;%  # the data
  filter(speed &gt; 4) %&gt;%  # subset
  ggplot() +  # pipe to ggplot
  aes(x = speed) +  
  aes(y = dist) +  
  # Describing what follows
  geom_point(  
    alpha = .3,  
    color = "blue"  
    ) +  
* aes(size = speed)
```
]]
.column[.content[
![](skeleton_files/figure-html/output_cars_user_7_auto-1.png)&lt;!-- --&gt;
]]




---

# User, sequential

---

class: split-40
count: false

.column[.content[

```r
*cars %&gt;%  # the data
* filter(speed &gt; 4) %&gt;%  # subset
* ggplot() +  # pipe to ggplot
* aes(x = speed) +
* aes(y = dist)
```
]]
.column[.content[
![](skeleton_files/figure-html/output_cars_user_1_user-1.png)&lt;!-- --&gt;
]]
---
class: split-40
count: false

.column[.content[

```r
cars %&gt;%  # the data
  filter(speed &gt; 4) %&gt;%  # subset
  ggplot() +  # pipe to ggplot
  aes(x = speed) +  
  aes(y = dist) +  
* # Describing what follows
* geom_point(
*   alpha = .3,
*   color = "blue"
*   )
```
]]
.column[.content[
![](skeleton_files/figure-html/output_cars_user_2_user-1.png)&lt;!-- --&gt;
]]
---
class: split-40
count: false

.column[.content[

```r
cars %&gt;%  # the data
  filter(speed &gt; 4) %&gt;%  # subset
  ggplot() +  # pipe to ggplot
  aes(x = speed) +  
  aes(y = dist) +  
  # Describing what follows
  geom_point(  
    alpha = .3,  
    color = "blue"  
    ) +  
* aes(size = speed)
```
]]
.column[.content[
![](skeleton_files/figure-html/output_cars_user_3_user-1.png)&lt;!-- --&gt;
]]



---

# User, nonsequential

---

class: split-40
count: false

.column[.content[

```r
*cars %&gt;%  # the data
* filter(speed &gt; 4) %&gt;%  # subset
* ggplot() +  # pipe to ggplot
* aes(x = speed) +
* aes(y = dist) +
* # Describing what follows
* geom_point(
    ) +  
  aes(size = speed)  
```
]]
.column[.content[
![](skeleton_files/figure-html/output_cars_non_seq_1_non_seq-1.png)&lt;!-- --&gt;
]]
---
class: split-40
count: false

.column[.content[

```r
cars %&gt;%  # the data
  filter(speed &gt; 4) %&gt;%  # subset
  ggplot() +  # pipe to ggplot
  aes(x = speed) +  
  aes(y = dist) +  
  # Describing what follows
  geom_point(  
*   alpha = .3,
    ) +  
  aes(size = speed)  
```
]]
.column[.content[
![](skeleton_files/figure-html/output_cars_non_seq_2_non_seq-1.png)&lt;!-- --&gt;
]]
---
class: split-40
count: false

.column[.content[

```r
cars %&gt;%  # the data
  filter(speed &gt; 4) %&gt;%  # subset
  ggplot() +  # pipe to ggplot
  aes(x = speed) +  
  aes(y = dist) +  
  # Describing what follows
  geom_point(  
    alpha = .3,  
*   color = "blue"
    ) +  
  aes(size = speed)  
```
]]
.column[.content[
![](skeleton_files/figure-html/output_cars_non_seq_3_non_seq-1.png)&lt;!-- --&gt;
]]


---

# User

---

class: split-40
count: false

.column[.content[

```r
*cars %&gt;%  # the data
* filter(speed &gt; 4) %&gt;%  # subset
* ggplot() +  # pipe to ggplot
* aes(x = speed) +
* aes(y = dist)
```
]]
.column[.content[
![](skeleton_files/figure-html/output_cars_non_seq_1_user-1.png)&lt;!-- --&gt;
]]
---
class: split-40
count: false

.column[.content[

```r
cars %&gt;%  # the data
  filter(speed &gt; 4) %&gt;%  # subset
  ggplot() +  # pipe to ggplot
  aes(x = speed) +  
  aes(y = dist) +  
* # Describing what follows
* geom_point(
*   alpha = .3,
*   color = "blue"
*   )
```
]]
.column[.content[
![](skeleton_files/figure-html/output_cars_non_seq_2_user-1.png)&lt;!-- --&gt;
]]
---
class: split-40
count: false

.column[.content[

```r
cars %&gt;%  # the data
  filter(speed &gt; 4) %&gt;%  # subset
  ggplot() +  # pipe to ggplot
  aes(x = speed) +  
  aes(y = dist) +  
  # Describing what follows
  geom_point(  
    alpha = .3,  
    color = "blue"  
    ) +  
* aes(size = speed)
```
]]
.column[.content[
![](skeleton_files/figure-html/output_cars_non_seq_3_user-1.png)&lt;!-- --&gt;
]]

---

# Auto

---

class: split-40
count: false

.column[.content[

```r
*cars   # the data
```
]]
.column[.content[

```
   speed dist
1      4    2
2      4   10
3      7    4
4      7   22
5      8   16
6      9   10
7     10   18
8     10   26
9     10   34
10    11   17
11    11   28
12    12   14
13    12   20
14    12   24
15    12   28
16    13   26
17    13   34
18    13   34
19    13   46
20    14   26
21    14   36
22    14   60
23    14   80
24    15   20
25    15   26
26    15   54
27    16   32
28    16   40
29    17   32
30    17   40
31    17   50
32    18   42
33    18   56
34    18   76
35    18   84
36    19   36
37    19   46
38    19   68
39    20   32
40    20   48
41    20   52
42    20   56
43    20   64
44    22   66
45    23   54
46    24   70
47    24   92
48    24   93
49    24  120
50    25   85
```
]]
---
class: split-40
count: false

.column[.content[

```r
cars %&gt;%  # the data
* filter(speed &gt; 4)   # subset
```
]]
.column[.content[

```
   speed dist
1      7    4
2      7   22
3      8   16
4      9   10
5     10   18
6     10   26
7     10   34
8     11   17
9     11   28
10    12   14
11    12   20
12    12   24
13    12   28
14    13   26
15    13   34
16    13   34
17    13   46
18    14   26
19    14   36
20    14   60
21    14   80
22    15   20
23    15   26
24    15   54
25    16   32
26    16   40
27    17   32
28    17   40
29    17   50
30    18   42
31    18   56
32    18   76
33    18   84
34    19   36
35    19   46
36    19   68
37    20   32
38    20   48
39    20   52
40    20   56
41    20   64
42    22   66
43    23   54
44    24   70
45    24   92
46    24   93
47    24  120
48    25   85
```
]]
---
class: split-40
count: false

.column[.content[

```r
cars %&gt;%  # the data
  filter(speed &gt; 4) %&gt;%  # subset
* ggplot()   # pipe to ggplot
```
]]
.column[.content[
![](skeleton_files/figure-html/output_cars_non_seq_3_auto-1.png)&lt;!-- --&gt;
]]
---
class: split-40
count: false

.column[.content[

```r
cars %&gt;%  # the data
  filter(speed &gt; 4) %&gt;%  # subset
  ggplot() +  # pipe to ggplot
* aes(x = speed)
```
]]
.column[.content[
![](skeleton_files/figure-html/output_cars_non_seq_4_auto-1.png)&lt;!-- --&gt;
]]
---
class: split-40
count: false

.column[.content[

```r
cars %&gt;%  # the data
  filter(speed &gt; 4) %&gt;%  # subset
  ggplot() +  # pipe to ggplot
  aes(x = speed) +  
* aes(y = dist)
```
]]
.column[.content[
![](skeleton_files/figure-html/output_cars_non_seq_5_auto-1.png)&lt;!-- --&gt;
]]
---
class: split-40
count: false

.column[.content[

```r
cars %&gt;%  # the data
  filter(speed &gt; 4) %&gt;%  # subset
  ggplot() +  # pipe to ggplot
  aes(x = speed) +  
  aes(y = dist) +  
* # Describing what follows
* geom_point(
*   alpha = .3,
*   color = "blue"
*   )
```
]]
.column[.content[
![](skeleton_files/figure-html/output_cars_non_seq_6_auto-1.png)&lt;!-- --&gt;
]]
---
class: split-40
count: false

.column[.content[

```r
cars %&gt;%  # the data
  filter(speed &gt; 4) %&gt;%  # subset
  ggplot() +  # pipe to ggplot
  aes(x = speed) +  
  aes(y = dist) +  
  # Describing what follows
  geom_point(  
    alpha = .3,  
    color = "blue"  
    ) +  
* aes(size = speed)
```
]]
.column[.content[
![](skeleton_files/figure-html/output_cars_non_seq_7_auto-1.png)&lt;!-- --&gt;
]]

---

# Multiverse

---

class: split-40
count: false

.column[.content[

```r
*cars %&gt;%  # the data
* filter(speed &gt; 4) %&gt;%  # subset
* ggplot() +  # pipe to ggplot
* aes(x = speed) +
* aes(y = dist) +
* # Describing what follows
* geom_point(
*   alpha = .3,
*   color = "blue"
*   ) +
* aes(size = speed)
```
]]
.column[.content[
![](skeleton_files/figure-html/output_cars_non_seq_1_5-1.png)&lt;!-- --&gt;
]]
---
class: split-40
count: false

.column[.content[

```r
cars %&gt;%  # the data
  filter(speed &gt; 4) %&gt;%  # subset
  ggplot() +  # pipe to ggplot
  aes(x = speed) +  
  aes(y = dist) +  
  # Describing what follows
  geom_point(  
    alpha = .3,  
    color = "blue"  
    ) +  
  aes(size = speed)  
```
]]
.column[.content[
![](skeleton_files/figure-html/output_cars_non_seq_2_5-1.png)&lt;!-- --&gt;
]]
---
class: split-40
count: false

.column[.content[

```r
cars %&gt;%  # the data
  filter(speed &gt; 4) %&gt;%  # subset
  ggplot() +  # pipe to ggplot
  aes(x = speed) +  
  aes(y = dist) +  
  # Describing what follows
  geom_point(  
    alpha = .3,  
    color = "blue"  
    ) +  
  aes(size = speed)  
```
]]
.column[.content[
![](skeleton_files/figure-html/output_cars_non_seq_3_5-1.png)&lt;!-- --&gt;
]]
---
class: split-40
count: false

.column[.content[

```r
cars %&gt;%  # the data
  filter(speed &gt; 4) %&gt;%  # subset
  ggplot() +  # pipe to ggplot
  aes(x = speed) +  
  aes(y = dist) +  
  # Describing what follows
  geom_point(  
    alpha = .3,  
    color = "blue"  
    ) +  
  aes(size = speed)  
```
]]
.column[.content[
![](skeleton_files/figure-html/output_cars_non_seq_4_5-1.png)&lt;!-- --&gt;
]]
---
class: split-40
count: false

.column[.content[

```r
cars %&gt;%  # the data
  filter(speed &gt; 4) %&gt;%  # subset
  ggplot() +  # pipe to ggplot
  aes(x = speed) +  
  aes(y = dist) +  
  # Describing what follows
  geom_point(  
    alpha = .3,  
    color = "blue"  
    ) +  
  aes(size = speed)  
```
]]
.column[.content[
![](skeleton_files/figure-html/output_cars_non_seq_5_5-1.png)&lt;!-- --&gt;
]]


---




---

# Multiverse

---

class: split-40
count: false

.column[.content[

```r
*tibble(speed = rnorm(5),
*      dist = rnorm(5)) %&gt;%  # the data
* ggplot() +  # pipe to ggplot
* aes(x = speed) +
* aes(y = dist) +
* # Describing what follows
* geom_point(
*   alpha = .3,
*   color = "blue"
*   ) +
* aes(size = speed)
```
]]
.column[.content[
![](skeleton_files/figure-html/output_cars_multi_1_5-1.png)&lt;!-- --&gt;
]]
---
class: split-40
count: false

.column[.content[

```r
tibble(speed = rnorm(5),  
       dist = rnorm(5)) %&gt;%  # the data
  ggplot() +  # pipe to ggplot
  aes(x = speed) +  
  aes(y = dist) +  
  # Describing what follows
  geom_point(  
    alpha = .3,  
    color = "blue"  
    ) +  
  aes(size = speed)  
```
]]
.column[.content[
![](skeleton_files/figure-html/output_cars_multi_2_5-1.png)&lt;!-- --&gt;
]]
---
class: split-40
count: false

.column[.content[

```r
tibble(speed = rnorm(5),  
       dist = rnorm(5)) %&gt;%  # the data
  ggplot() +  # pipe to ggplot
  aes(x = speed) +  
  aes(y = dist) +  
  # Describing what follows
  geom_point(  
    alpha = .3,  
    color = "blue"  
    ) +  
  aes(size = speed)  
```
]]
.column[.content[
![](skeleton_files/figure-html/output_cars_multi_3_5-1.png)&lt;!-- --&gt;
]]
---
class: split-40
count: false

.column[.content[

```r
tibble(speed = rnorm(5),  
       dist = rnorm(5)) %&gt;%  # the data
  ggplot() +  # pipe to ggplot
  aes(x = speed) +  
  aes(y = dist) +  
  # Describing what follows
  geom_point(  
    alpha = .3,  
    color = "blue"  
    ) +  
  aes(size = speed)  
```
]]
.column[.content[
![](skeleton_files/figure-html/output_cars_multi_4_5-1.png)&lt;!-- --&gt;
]]
---
class: split-40
count: false

.column[.content[

```r
tibble(speed = rnorm(5),  
       dist = rnorm(5)) %&gt;%  # the data
  ggplot() +  # pipe to ggplot
  aes(x = speed) +  
  aes(y = dist) +  
  # Describing what follows
  geom_point(  
    alpha = .3,  
    color = "blue"  
    ) +  
  aes(size = speed)  
```
]]
.column[.content[
![](skeleton_files/figure-html/output_cars_multi_5_5-1.png)&lt;!-- --&gt;
]]

![](skeleton_files/figure-html/cars_multi-1.png)&lt;!-- --&gt;


---

# Just reveal output

---

count: false

![](skeleton_files/figure-html/output_cars_1_user-1.png)&lt;!-- --&gt;
---
count: false

![](skeleton_files/figure-html/output_cars_2_user-1.png)&lt;!-- --&gt;
---
count: false

![](skeleton_files/figure-html/output_cars_3_user-1.png)&lt;!-- --&gt;

---

count: false


```r
*cars   # the data
```
---
count: false


```r
cars %&gt;%  # the data
* filter(speed &gt; 4)   # subset
```
---
count: false


```r
cars %&gt;%  # the data
  filter(speed &gt; 4) %&gt;%  # subset
* ggplot()   # pipe to ggplot
```
---
count: false


```r
cars %&gt;%  # the data
  filter(speed &gt; 4) %&gt;%  # subset
  ggplot() +  # pipe to ggplot
* aes(x = speed)
```
---
count: false


```r
cars %&gt;%  # the data
  filter(speed &gt; 4) %&gt;%  # subset
  ggplot() +  # pipe to ggplot
  aes(x = speed) +  
* aes(y = dist)
```
---
count: false


```r
cars %&gt;%  # the data
  filter(speed &gt; 4) %&gt;%  # subset
  ggplot() +  # pipe to ggplot
  aes(x = speed) +  
  aes(y = dist) +  
* # Describing what follows
* geom_point(
*   alpha = .3,
*   color = "blue"
*   )
```
---
count: false


```r
cars %&gt;%  # the data
  filter(speed &gt; 4) %&gt;%  # subset
  ggplot() +  # pipe to ggplot
  aes(x = speed) +  
  aes(y = dist) +  
  # Describing what follows
  geom_point(  
    alpha = .3,  
    color = "blue"  
    ) +  
* aes(size = speed)
```

---


 

---

# Regular assignment

---

class: split-40
count: false

.column[.content[

```r
*my_object &lt;- cars   # the data
 
my_object # print object
```
]]
.column[.content[

```
   speed dist
1      4    2
2      4   10
3      7    4
4      7   22
5      8   16
6      9   10
7     10   18
8     10   26
9     10   34
10    11   17
11    11   28
12    12   14
13    12   20
14    12   24
15    12   28
16    13   26
17    13   34
18    13   34
19    13   46
20    14   26
21    14   36
22    14   60
23    14   80
24    15   20
25    15   26
26    15   54
27    16   32
28    16   40
29    17   32
30    17   40
31    17   50
32    18   42
33    18   56
34    18   76
35    18   84
36    19   36
37    19   46
38    19   68
39    20   32
40    20   48
41    20   52
42    20   56
43    20   64
44    22   66
45    23   54
46    24   70
47    24   92
48    24   93
49    24  120
50    25   85
```
]]
---
class: split-40
count: false

.column[.content[

```r
my_object &lt;- cars %&gt;%  # the data
* filter(speed &gt; 4)   # subset
 
my_object # print object
```
]]
.column[.content[

```
   speed dist
1      7    4
2      7   22
3      8   16
4      9   10
5     10   18
6     10   26
7     10   34
8     11   17
9     11   28
10    12   14
11    12   20
12    12   24
13    12   28
14    13   26
15    13   34
16    13   34
17    13   46
18    14   26
19    14   36
20    14   60
21    14   80
22    15   20
23    15   26
24    15   54
25    16   32
26    16   40
27    17   32
28    17   40
29    17   50
30    18   42
31    18   56
32    18   76
33    18   84
34    19   36
35    19   46
36    19   68
37    20   32
38    20   48
39    20   52
40    20   56
41    20   64
42    22   66
43    23   54
44    24   70
45    24   92
46    24   93
47    24  120
48    25   85
```
]]
---
class: split-40
count: false

.column[.content[

```r
my_object &lt;- cars %&gt;%  # the data
  filter(speed &gt; 4) %&gt;%  # subset
* ggplot()   # pipe to ggplot
 
my_object # print object
```
]]
.column[.content[
![](skeleton_files/figure-html/output_reg_assign_3_auto-1.png)&lt;!-- --&gt;
]]
---
class: split-40
count: false

.column[.content[

```r
my_object &lt;- cars %&gt;%  # the data
  filter(speed &gt; 4) %&gt;%  # subset
  ggplot() +  # pipe to ggplot
* aes(x = speed)
 
my_object # print object
```
]]
.column[.content[
![](skeleton_files/figure-html/output_reg_assign_4_auto-1.png)&lt;!-- --&gt;
]]
---
class: split-40
count: false

.column[.content[

```r
my_object &lt;- cars %&gt;%  # the data
  filter(speed &gt; 4) %&gt;%  # subset
  ggplot() +  # pipe to ggplot
  aes(x = speed) +  
* aes(y = dist)
 
my_object # print object
```
]]
.column[.content[
![](skeleton_files/figure-html/output_reg_assign_5_auto-1.png)&lt;!-- --&gt;
]]




---



```r
my_local &lt;- "cars %&gt;%             # the data  #REVEAL
  filter(speed &gt; 4) %&gt;%  # subset
  ggplot() +              # pipe to ggplot
  aes(x = speed) +
  aes(y = dist) +
  # Describing what follows
  geom_point(alpha = .3) + #REVEAL
  aes(color =
  speed &gt; 14
  ) %+%
  cars"
```



&lt;!-- --- --&gt;

&lt;!-- # How do we get there? --&gt;

&lt;!-- In the next slide, we'll walk through the code that produces this plot, and the output along the way. We use the code `apply_reveal('cars')` in-line to access the code from the code chunk called *nobel*. --&gt;

&lt;!-- --- --&gt;


&lt;!-- ```{r, eval = F} --&gt;
&lt;!-- my_local %&gt;%  --&gt;
&lt;!--   parse_code() -&gt; --&gt;
&lt;!-- parsed --&gt;
&lt;!-- parsed %&gt;%  --&gt;
&lt;!--   determine_breaks(break_type = "auto") -&gt; --&gt;
&lt;!-- breaks --&gt;
&lt;!-- breaks %&gt;%  --&gt;
&lt;!--   calc_highlight() -&gt; --&gt;
&lt;!-- highlighting --&gt;

&lt;!-- parsed %&gt;%  --&gt;
&lt;!--   reveal_parsed(break_point = breaks[3], highlight = highlighting[[3]])  --&gt;

&lt;!-- flipbookr::return_partial_chunks_template() --&gt;

&lt;!-- flipbookr::return_partial_side_by_side_code_output_chunks("my_example", breaks = breaks, highlight = highlighting) --&gt;


&lt;!-- ``` --&gt;

&lt;!-- --- --&gt;

&lt;!-- ```{r} --&gt;
&lt;!-- # reveal_chunk('cars') --&gt;
&lt;!-- ``` --&gt;


&lt;!-- ```{r} --&gt;
&lt;!-- # return_partial_side_by_side_code_output_chunks(chunk_name = 'cars') --&gt;
&lt;!-- ``` --&gt;

&lt;!-- --- --&gt;

&lt;!-- ```{r} --&gt;

&lt;!-- # return_partial_code_or_output_chunks(chunk_name = 'cars') --&gt;
&lt;!-- ``` --&gt;

&lt;!-- --- --&gt;


&lt;!-- ```{r, eval = F} --&gt;
&lt;!-- partial_chunk('cars', 1, 1, FALSE) --&gt;
&lt;!-- ``` --&gt;


&lt;!-- --- --&gt;

&lt;!-- count: false --&gt;
&lt;!-- My Title --&gt;
&lt;!-- ```{r output_nobel_1, eval=TRUE, echo = FALSE, code=partial_chunk('cars', 1, 1, FALSE)} --&gt;
&lt;!-- ``` --&gt;

&lt;!-- --- --&gt;

&lt;!-- ```{r} --&gt;
&lt;!-- partially_knit_chunks(chunk_name = 'cars') --&gt;
&lt;!-- ``` --&gt;

&lt;!-- --- --&gt;


&lt;!-- ```{r} --&gt;
&lt;!-- apply_reveal(chunk_name = 'cars') --&gt;
&lt;!-- ``` --&gt;




&lt;!-- --- --&gt;

&lt;!-- class: split-40 --&gt;
&lt;!-- count: false --&gt;
&lt;!-- My Title --&gt;
&lt;!-- .column[.content[ --&gt;
&lt;!-- ```{r code_nobel_1, eval=FALSE, echo = TRUE, code=partial_chunk('cars', 1, 1, FALSE)} --&gt;
&lt;!-- ``` --&gt;
&lt;!-- ]] --&gt;
&lt;!-- .column[.content[ --&gt;
&lt;!-- ```{r output_nobel_1, eval=TRUE, echo = FALSE, code=partial_chunk('cars', 1, 1, FALSE)} --&gt;
&lt;!-- ``` --&gt;
&lt;!-- ]] --&gt;
&lt;!-- --- --&gt;
&lt;!-- class: split-40 --&gt;
&lt;!-- count: false --&gt;
&lt;!-- My Title --&gt;
&lt;!-- .column[.content[ --&gt;
&lt;!-- ```{r code_nobel_2, eval=FALSE, echo = TRUE, code=partial_chunk('cars', 1:2, 2, FALSE)} --&gt;
&lt;!-- ``` --&gt;
&lt;!-- ]] --&gt;
&lt;!-- .column[.content[ --&gt;
&lt;!-- ```{r output_nobel_2, eval=TRUE, echo = FALSE, code=partial_chunk('cars', 1:2, 2, FALSE)} --&gt;
&lt;!-- ``` --&gt;
&lt;!-- ]] --&gt;
&lt;!-- --- --&gt;


&lt;!-- --- --&gt;



&lt;!-- &lt;!-- --- --&gt; --&gt;


&lt;!-- &lt;!-- # Embracing reverse assignment --&gt; --&gt;

&lt;!-- &lt;!-- # A second approach: Separate the data manipulation from the plotting. --&gt; --&gt;

&lt;!-- &lt;!-- If you'd like, you can also save your manipulated data and then plot, using the `%&gt;%` to create your pipe line, and then reverse assignment operator `-&gt;`.  An example follows.  --&gt; --&gt;

&lt;!-- &lt;!-- --- --&gt; --&gt;

&lt;!-- &lt;!-- ```{r data_transformation, echo = F, eval = T, fig.height=5} --&gt; --&gt;
&lt;!-- &lt;!-- cars %&gt;%             # the data  #REVEAL --&gt; --&gt;
&lt;!-- &lt;!--   filter(speed &gt; 4) %&gt;%  --&gt; --&gt;
&lt;!-- &lt;!--   mutate(var = 2) -&gt; --&gt; --&gt;
&lt;!-- &lt;!-- my_data --&gt; --&gt;
&lt;!-- &lt;!-- ``` --&gt; --&gt;


&lt;!-- &lt;!-- --- --&gt; --&gt;

&lt;!-- &lt;!-- *** apply_reveal("data_transformation")` --&gt; --&gt;

&lt;!-- &lt;!-- --- --&gt; --&gt;

&lt;!-- &lt;!-- # Plotting the transformed data (and *not* revealing your plot in advance -- *just* showing the build). --&gt; --&gt;

&lt;!-- &lt;!-- Now you can use the transformed data to start the plot.   --&gt; --&gt;

&lt;!-- &lt;!-- Note that you also might prefer a behavior where you don't show a preview of the finished plot in advance.  I show an example of this below. I don't evaluate the code chunk (i.e. I've set eval to FALSE) and I don't echo it (i.e. echo is set to false). This means that the code chunk itself won't yeild any output (code or plot) to be put on a slide.  This means that I don't need to use the dashes, \-\-\- to separate the code chunk from the `apply_reveal()` statement, which differs from previous set-ups where a slide separator directly preceded the `apply_reveal()` call.  --&gt; --&gt;

&lt;!-- &lt;!-- --- --&gt; --&gt;

&lt;!-- &lt;!-- ```{r just_plotting, echo = F, eval = FALSE, fig.height=5} --&gt; --&gt;
&lt;!-- &lt;!-- ggplot(data = my_data) +              # pipe to ggplot --&gt; --&gt;
&lt;!-- &lt;!--   aes(x = speed) + --&gt; --&gt;
&lt;!-- &lt;!--   aes(y = dist) + --&gt; --&gt;
&lt;!-- &lt;!--   # Describing what follows --&gt; --&gt;
&lt;!-- &lt;!--   geom_point(alpha = .3) + #REVEAL --&gt; --&gt;
&lt;!-- &lt;!--   aes( --&gt; --&gt;
&lt;!-- &lt;!--     color = speed &gt; 14 --&gt; --&gt;
&lt;!-- &lt;!--   ) %+% --&gt; --&gt;
&lt;!-- &lt;!--   cars --&gt; --&gt;
&lt;!-- &lt;!-- ``` --&gt; --&gt;


&lt;!-- &lt;!-- *** apply_reveal("just_plotting")` --&gt; --&gt;

&lt;!-- &lt;!-- ```{r} --&gt; --&gt;
&lt;!-- &lt;!-- # make_flipbook_mini_chunk(chunk_name = "just_plotting", file_out = "a_flipbook_mini_example.gif") --&gt; --&gt;
&lt;!-- &lt;!-- ``` --&gt; --&gt;

&lt;!-- &lt;!-- --- --&gt; --&gt;

&lt;!-- # Can't stomach reverse assignment? --&gt;


&lt;!-- --- --&gt;

&lt;!-- ```{r regular_assignment, eval = T, echo = F} --&gt;
&lt;!-- a_plot &lt;- cars %&gt;%             # the data  #REVEAL --&gt;
&lt;!--   filter(speed &gt; 4) %&gt;%  # subset --&gt;
&lt;!--   ggplot() +              # pipe to ggplot --&gt;
&lt;!--   aes(x = speed) + --&gt;
&lt;!--   aes(y = dist) + --&gt;
&lt;!--   # Describing what follows --&gt;
&lt;!--   geom_point(alpha = .3) + #REVEAL --&gt;
&lt;!--   aes(color = --&gt;
&lt;!--   speed &gt; 14 --&gt;
&lt;!--   ) %+% --&gt;
&lt;!--   cars --&gt;
&lt;!-- ``` --&gt;

&lt;!-- --- --&gt;

&lt;!-- r apply_reveal("regular_assignment", reg_assignment = T)` --&gt;




&lt;!-- --- --&gt;

&lt;!-- &lt;!-- --- --&gt; --&gt;

&lt;!-- &lt;!-- # User defined reveal --&gt; --&gt;

&lt;!-- &lt;!-- --- --&gt; --&gt;

&lt;!-- &lt;!-- ```{r user_definded_reveal, eval = F, echo = F} --&gt; --&gt;
&lt;!-- &lt;!-- ggplot(data = my_data) +   # pipe to ggplot --&gt; --&gt;
&lt;!-- &lt;!--   aes(x = speed) +  --&gt; --&gt;
&lt;!-- &lt;!--   aes(y = dist) + #REVEAL --&gt; --&gt;
&lt;!-- &lt;!--   # Describing what follows  --&gt; --&gt;
&lt;!-- &lt;!--   geom_blank() + --&gt; --&gt;
&lt;!-- &lt;!--   geom_point(data = my_data %&gt;% slice(1)) + #REVEAL --&gt; --&gt;
&lt;!-- &lt;!--   geom_point() #REVEAL --&gt; --&gt;
&lt;!-- &lt;!-- ``` --&gt; --&gt;

&lt;!-- &lt;!-- *** apply_reveal("user_definded_reveal", user_reveal = T)` --&gt; --&gt;


&lt;!-- &lt;!-- --- --&gt; --&gt;

&lt;!-- &lt;!-- # For use in traditional presentations. --&gt; --&gt;

&lt;!-- &lt;!-- --- --&gt; --&gt;


&lt;!-- ```{r slow_traditional_presentation, eval = F, echo = F} --&gt;
&lt;!-- gapminder::gapminder %&gt;% --&gt;
&lt;!--   filter(year == 2002) %&gt;% --&gt;
&lt;!--   ggplot() + # pipe to ggplot --&gt;
&lt;!--   aes(x = gdpPercap) + #REVEAL --&gt;
&lt;!--   aes(y = lifeExp) + #REVEAL --&gt;
&lt;!--   # Describing what follows --&gt;
&lt;!--   geom_point() + --&gt;
&lt;!--   aes(alpha = country == "New Zealand") + --&gt;
&lt;!--   scale_alpha_discrete(limits = c(0, 1), guide = F) + #REVEAL --&gt;
&lt;!--   aes(alpha = NULL) + #REVEAL --&gt;
&lt;!--   aes(size = pop) + #REVEAL --&gt;
&lt;!--   aes(color = continent) #REVEAL --&gt;
&lt;!-- apply_reveal() --&gt;
&lt;!-- ``` --&gt;

&lt;!-- r apply_reveal(chunk_name = "slow_traditional_presentation", display_type = "output", break_type = "user")` --&gt;



&lt;!-- &lt;!-- --- --&gt; --&gt;

&lt;!-- &lt;!-- # Non sequential reveal (or can't stomach "slow ggplot"?) --&gt; --&gt;

&lt;!-- &lt;!-- --- --&gt; --&gt;

&lt;!-- &lt;!-- ```{r non_sequential, eval = F, echo = F} --&gt; --&gt;
&lt;!-- &lt;!-- cars %&gt;% --&gt; --&gt;
&lt;!-- &lt;!--   mutate(speed_14_plus = speed &gt;= 14) %&gt;% --&gt; --&gt;
&lt;!-- &lt;!--   ggplot() + --&gt; --&gt;
&lt;!-- &lt;!--   aes(x = speed) + --&gt; --&gt;
&lt;!-- &lt;!--   aes(y = dist) + --&gt; --&gt;
&lt;!-- &lt;!--   # Describing what follows --&gt; --&gt;
&lt;!-- &lt;!--   geom_point( --&gt; --&gt;
&lt;!-- &lt;!--     size = 2, #REVEAL2 --&gt; --&gt;
&lt;!-- &lt;!--     alpha = .3, #REVEAL3 --&gt; --&gt;
&lt;!-- &lt;!--     color = "blue", #REVEAL4 --&gt; --&gt;
&lt;!-- &lt;!--     ) + --&gt; --&gt;
&lt;!-- &lt;!--   aes(color = speed_14_plus) --&gt; --&gt;
&lt;!-- &lt;!-- ``` --&gt; --&gt;

&lt;!-- &lt;!-- --- --&gt; --&gt;


&lt;!-- &lt;!-- r apply_reveal_nonsequential("non_sequential")` --&gt; --&gt;


&lt;!-- --- --&gt;

&lt;!-- # Non-traditional pipelines  --&gt;

&lt;!-- --- --&gt;

&lt;!-- r apply_reveal("logical_indexing")` --&gt;

&lt;!-- ```{r logical_indexing, eval = F, echo = F} --&gt;
&lt;!-- list(thing_1 = "a", --&gt;
&lt;!--      thing_2 = matrix(data = 1:5, nrow = 2)) -&gt; --&gt;
&lt;!-- my_named_list --&gt;
&lt;!-- list("a", --&gt;
&lt;!-- 1:5, --&gt;
&lt;!-- my_named_list) %&gt;% --&gt;
&lt;!-- .[[3]] %&gt;% --&gt;
&lt;!-- .$thing_2 %&gt;% --&gt;
&lt;!-- .[3] --&gt;
&lt;!-- ``` --&gt;



&lt;!-- --- --&gt;

&lt;!-- # data.table --&gt;



&lt;!-- --- --&gt;

&lt;!-- # Multiple realizations --&gt;


&lt;!-- --- --&gt;

&lt;!-- ```{r many_realizations, eval = F, echo = F} --&gt;
&lt;!-- tibble(tail_length = rnorm(n = 50),  --&gt;
&lt;!--        brain_weight = rnorm(n = 50)) -&gt; --&gt;
&lt;!-- my_data; my_data %&gt;% slice(1:3) --&gt;

&lt;!-- ggplot(data = my_data) + --&gt;
&lt;!--   aes(x = tail_length) + --&gt;
&lt;!--   aes(y = brain_weight) + --&gt;
&lt;!--   geom_point(alpha = .8, --&gt;
&lt;!--              color = "steelblue", --&gt;
&lt;!--              shape = 21, --&gt;
&lt;!--              size = 6) + --&gt;
&lt;!--   theme_minimal() + --&gt;
&lt;!--   coord_cartesian(xlim = c(-3,3), --&gt;
&lt;!--                   ylim = c(-3,3)) --&gt;

&lt;!-- cor.test(x = my_data$tail_length, --&gt;
&lt;!--          y = my_data$brain_weight) --&gt;
&lt;!-- ``` --&gt;


&lt;!-- *** apply_repeat_reveal(chunk_name = "many_realizations", num_reveal = 10)` --&gt;


&lt;!-- --- --&gt;

&lt;!-- # Acknowledgements and Thanks --&gt;

&lt;!-- Flipbooker visionaries and developers --&gt;

&lt;!-- - Emi Tanaka --&gt;
&lt;!-- - Garrick Aden-Buie --&gt;
&lt;!-- - Ryan Granier --&gt;
&lt;!-- - Suraj Tharpa --&gt;

&lt;!-- Key Infrastructure --&gt;

&lt;!-- - Yihui Xie (Rmarkdown, Xaringan), Allison Pres Hill --&gt;
&lt;!-- - Hadley Wickham (ggplot, tidyverse) --&gt;
&lt;!-- - Stefan Milton Bache (magrittr %&gt;%) --&gt;
&lt;!-- - Claus Wilke (cowplot::plot_grid()) --&gt;
&lt;!-- - Romain Francois - getParseData --&gt;

&lt;!-- --- --&gt;

&lt;!-- More influences --&gt;

&lt;!-- - Jesse Mostipak --&gt;
&lt;!-- - Eva Murry &amp; Andy Kriebel --&gt;
&lt;!-- - #MakeoverMonday --&gt;
&lt;!-- - #TidyTuesday --&gt;
&lt;!-- - Mara Averick --&gt;
&lt;!-- - Matt Blackwell --&gt;
&lt;!-- - Women Summer School  --&gt;
&lt;!-- - Roger Peng --&gt;
&lt;!-- - Edward Tufte --&gt;
&lt;!-- - Matt Dowle --&gt;
&lt;!-- - Norm Matloff --&gt;
&lt;!-- - Elio Campitelli --&gt;
&lt;!-- - BITSS --&gt;



&lt;!-- --- --&gt;

&lt;!-- # So meta... --&gt;

&lt;!-- Using flipbooking on the flipbook parser code --&gt;


&lt;!-- --- --&gt;

&lt;!-- ```{r, eval = F} --&gt;
&lt;!-- local_code &lt;- # for testing w/o knitting --&gt;
&lt;!--   "cars %&gt;%             # the data  #REVEAL --&gt;
&lt;!-- filter(speed &gt; 4) %&gt;%  # subset --&gt;
&lt;!-- ggplot() +              # pipe to ggplot --&gt;
&lt;!-- aes(x = speed) + --&gt;
&lt;!-- aes(y = dist) + --&gt;
&lt;!-- # Describing what follows #REVEAL2 --&gt;
&lt;!-- geom_point(alpha = .3) + #REVEAL --&gt;
&lt;!-- aes(color = --&gt;
&lt;!-- speed &gt; 14 --&gt;
&lt;!-- ) %+% --&gt;
&lt;!-- cars -&gt; --&gt;
&lt;!-- my_plot " --&gt;
&lt;!-- ``` --&gt;




&lt;style type="text/css"&gt;
.remark-code{line-height: 1.5; font-size: 80%}
&lt;/style&gt;
    </textarea>
<style data-target="print-only">@media screen {.remark-slide-container{display:block;}.remark-slide-scaler{box-shadow:none;}}</style>
<script src="https://remarkjs.com/downloads/remark-latest.min.js"></script>
<script>var slideshow = remark.create({
"ratio": "16:10",
"highlightStyle": "github",
"highlightLines": true,
"countIncrementalSlides": false
});
if (window.HTMLWidgets) slideshow.on('afterShowSlide', function (slide) {
  window.dispatchEvent(new Event('resize'));
});
(function(d) {
  var s = d.createElement("style"), r = d.querySelector(".remark-slide-scaler");
  if (!r) return;
  s.type = "text/css"; s.innerHTML = "@page {size: " + r.style.width + " " + r.style.height +"; }";
  d.head.appendChild(s);
})(document);

(function(d) {
  var el = d.getElementsByClassName("remark-slides-area");
  if (!el) return;
  var slide, slides = slideshow.getSlides(), els = el[0].children;
  for (var i = 1; i < slides.length; i++) {
    slide = slides[i];
    if (slide.properties.continued === "true" || slide.properties.count === "false") {
      els[i - 1].className += ' has-continuation';
    }
  }
  var s = d.createElement("style");
  s.type = "text/css"; s.innerHTML = "@media print { .has-continuation { display: none; } }";
  d.head.appendChild(s);
})(document);
// delete the temporary CSS (for displaying all slides initially) when the user
// starts to view slides
(function() {
  var deleted = false;
  slideshow.on('beforeShowSlide', function(slide) {
    if (deleted) return;
    var sheets = document.styleSheets, node;
    for (var i = 0; i < sheets.length; i++) {
      node = sheets[i].ownerNode;
      if (node.dataset["target"] !== "print-only") continue;
      node.parentNode.removeChild(node);
    }
    deleted = true;
  });
})();</script>

<script>
(function() {
  var links = document.getElementsByTagName('a');
  for (var i = 0; i < links.length; i++) {
    if (/^(https?:)?\/\//.test(links[i].getAttribute('href'))) {
      links[i].target = '_blank';
    }
  }
})();
</script>

<script>
slideshow._releaseMath = function(el) {
  var i, text, code, codes = el.getElementsByTagName('code');
  for (i = 0; i < codes.length;) {
    code = codes[i];
    if (code.parentNode.tagName !== 'PRE' && code.childElementCount === 0) {
      text = code.textContent;
      if (/^\\\((.|\s)+\\\)$/.test(text) || /^\\\[(.|\s)+\\\]$/.test(text) ||
          /^\$\$(.|\s)+\$\$$/.test(text) ||
          /^\\begin\{([^}]+)\}(.|\s)+\\end\{[^}]+\}$/.test(text)) {
        code.outerHTML = code.innerHTML;  // remove <code></code>
        continue;
      }
    }
    i++;
  }
};
slideshow._releaseMath(document);
</script>
<!-- dynamically load mathjax for compatibility with self-contained -->
<script>
(function () {
  var script = document.createElement('script');
  script.type = 'text/javascript';
  script.src  = 'https://mathjax.rstudio.com/latest/MathJax.js?config=TeX-MML-AM_CHTML';
  if (location.protocol !== 'file:' && /^https?:/.test(script.src))
    script.src  = script.src.replace(/^https?:/, '');
  document.getElementsByTagName('head')[0].appendChild(script);
})();
</script>
  </body>
</html>
